* {
    margin: 0;
    box-sizing: border-box;
}

header {
    border: 1px solid black;
}

section {
    display: flex;
    flex-flow: column;
}

article {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}
